body{
    background-color: #000;
        overflow-x: hidden; 
        cursor: none; 

}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 0.1vw;
    width: 0.1vw;
    background-color: #fff;
    border-radius: 50%;

    box-shadow:
    -42vw -4vh 0vw 0vw #fff,
     25vw -41vh 0vw 0vw #fff,
    -20vw  49vh 0vw 0.1VW #fff,
      5vw  40vh 0.1VW 0.1VW #fff,
     29vw  19vh 0.1VW 0vw    #fff,
    -44vw -13vh 0vw 0vw    #fff,
     46vw  41vh 0vw 0.1VW #fff,
     -3vw -45vh 0vw 0.1VW #fff,
     47vw  35vh 0.1VW 0vw    #fff,
     12vw  -8vh 0.1VW 0vw    #fff,
    -34vw  48vh 0.1VW 0.1VW #fff,
     32vw  26vh 0.1VW 0.1VW #fff,
     32vw -41vh 0.1VW 0.1VW #fff,
      0vw  37vh 0.1VW 0.1VW #fff,
     34vw -26vh 0.1VW 0vw    #fff,
    -14vw -49vh 0.1VW 0vw    #fff,
    -12vw  45vh 0vw 0.1VW #fff,
    -44vw -33vh 0vw 0.1VW #fff,
    -13vw  41vh 0vw 0vw    #fff,
    -36vw -11vh 0vw 0.1VW #fff,
    -23vw -24vh 0.1VW 0vw    #fff,
    -38vw -27vh 0vw 0.1VW #fff,
     16vw -19vh 0vw 0vw    #fff,
     28vw  33vh 0.1VW 0vw    #fff,
    -49vw  -4vh 0vw 0vw    #fff,
     16vw  32vh 0vw 0.1VW #fff,
     36vw -18vh 0.1VW 0vw    #fff,
    -25vw -30vh 0.1VW 0vw    #fff,
    -23vw  24vh 0vw 0.1VW #fff,
     -2vw -35vh 0.1VW 0.1VW #fff,
    -25vw   9vh 0vw 0vw    #fff,
    -15vw -34vh 0vw 0vw    #fff,
     -8vw -19vh 0.1VW 0vw    #fff,
    -20vw -20vh 0.1VW 0.1VW #fff,
     42vw  50vh 0vw 0.1VW #fff,
    -32vw  10vh 0.1VW 0vw    #fff,
    -23vw -17vh 0vw 0vw    #fff,
     44vw  15vh 0.1VW 0vw    #fff,
    -40vw  33vh 0.1VW 0.1VW #fff,
    -43vw   8vh 0vw 0vw    #fff,
    -48vw -15vh 0.1VW 0.1VW #fff,
    -24vw  17vh 0vw 0vw    #fff,
    -31vw  50vh 0.1VW 0vw    #fff,
     36vw -38vh 0vw 0.1VW #fff,
      -7vw  48vh 0vw 0vw    #fff,
      15vw -32vh 0vw 0vw    #fff,
      29vw -41vh 0vw 0vw    #fff,
       2vw  37vh 0.1VW 0vw    #fff,
       7vw -40vh 0.1VW 0.1VW #fff,
      15vw  18vh 0vw 0vw    #fff,
      25vw -13vh 0.1VW 0.1VW #fff,
    -46vw -12vh 0.1VW 0.1VW #fff,
    -18vw  22vh 0vw 0vw    #fff,
     23vw  -9vh 0.1VW 0vw    #fff,
     50vw  12vh 0vw 0.1VW #fff,
     45vw   2vh 0vw 0vw    #fff,
     14vw -48vh 0.1VW 0vw    #fff,
     23vw  43vh 0vw 0.1VW #fff,
    -40vw  16vh 0.1VW 0.1VW #fff,
     20vw -31vh 0vw 0.1VW #fff,
    -17vw  44vh 0.1VW 0.1VW #fff,
     18vw -45vh 0vw 0vw    #fff,
     33vw  -6vh 0vw 0vw    #fff,
      0vw   7vh 0vw 0.1VW #fff,
    -10vw -18vh 0vw 0.1VW #fff,
    -19vw   5vh 0.1VW 0vw    #fff,
       1vw  42vh 0vw 0vw    #fff,
      22vw  48vh 0vw 0.1VW #fff,
      39vw  -8vh 0.1VW 0.1VW #fff,
      -6vw -42vh 0.1VW 0vw    #fff,
    -47vw  34vh 0vw 0vw    #fff,
    -46vw  19vh 0vw 0.1VW #fff,
    -12vw -32vh 0vw 0vw    #fff,
    -45vw -38vh 0vw 0.1VW #fff,
    -28vw  18vh 0.1VW 0vw    #fff,
    -38vw -46vh 0.1VW 0.1VW #fff,
     49vw  -6vh 0.1VW 0.1VW #fff,
    -28vw  18vh 0.1VW 0.1VW #fff,
     10vw -24vh 0vw 0.1VW #fff,
     -5vw -11vh 0.1VW 0.1VW #fff,
     33vw  -8vh 0.1VW 0vw    #fff,
    -16vw  17vh 0vw 0vw    #fff,
     18vw  27vh 0vw 0.1VW #fff,
     -8vw -10vh 0.1VW 0.1VW #fff;


  box-shadow:
    24vw   9vh 0.1VW 0vw #fff,
    12vw -24vh 0vw 0.1VW #fff,
   -45vw -22vh 0vw 0vw    #fff,
   -37vw -40vh 0vw 0.1VW #fff,
    29vw  19vh 0vw 0.1VW #fff,
     4vw  -8vh 0vw 0.1VW #fff,
    -5vw  21vh 0.1VW 0.1VW #fff,
   -27vw  26vh 0.1VW 0.1VW #fff,
   -47vw  -3vh 0.1VW 0.1VW #fff,
   -28vw -30vh 0vw 0.1VW #fff,
   -43vw -27vh 0vw 0.1VW #fff,
     4vw  22vh 0.1VW 0.1VW #fff,
    36vw  23vh 0vw 0vw    #fff,
   -21vw  24vh 0.1VW 0.1VW #fff,
   -16vw   2vh 0.1VW 0vw    #fff,
   -16vw  -6vh 0vw 0vw    #fff,
     5vw  26vh 0vw 0vw    #fff,
   -34vw  41vh 0vw 0vw    #fff,
     1vw  42vh 0.1VW 0.1VW #fff,
    11vw -13vh 0.1VW 0.1VW #fff,
    48vw  -8vh 0.1VW 0vw    #fff,
    22vw -15vh 0vw 0vw    #fff,
    45vw  49vh 0vw 0vw    #fff,
    43vw -27vh 0.1VW 0.1VW #fff,
    20vw  -2vh 0vw 0vw    #fff,
     8vw  22vh 0vw 0.1VW #fff,
    39vw  48vh 0.1VW 0.1VW #fff,
   -21vw -11vh 0vw 0.1VW #fff,
   -40vw  45vh 0vw 0.1VW #fff,
    11vw -30vh 0.1VW 0vw    #fff,
    26vw  30vh 0.1VW 0vw    #fff,
    45vw -29vh 0vw 0.1VW #fff,
    -2vw  18vh 0vw 0vw    #fff,
   -29vw -45vh 0.1VW 0vw    #fff,
    -7vw -27vh 0.1VW 0.1VW #fff,
    42vw  24vh 0vw 0vw    #fff,
    45vw -48vh 0.1VW 0vw    #fff,
   -36vw -18vh 0vw 0vw    #fff,
   -44vw  13vh 0vw 0.1VW #fff,
    36vw  16vh 0vw 0.1VW #fff,
    40vw  24vh 0vw 0vw    #fff,
    18vw  11vh 0vw 0vw    #fff,
   -15vw -23vh 0.1VW 0vw    #fff,
   -24vw  48vh 0vw 0.1VW #fff,
    27vw -45vh 0.1VW 0vw    #fff,
    -2vw -24vh 0vw 0.1VW #fff,
   -15vw -28vh 0vw 0vw    #fff,
   -43vw  13vh 0.1VW 0vw    #fff,
     7vw  27vh 0.1VW 0vw    #fff,
    47vw   5vh 0vw 0vw    #fff,
   -45vw  15vh 0.1VW 0.1VW #fff,
    -5vw -28vh 0vw 0.1VW #fff,
    38vw  25vh 0.1VW 0.1VW #fff,
   -39vw  -1vh 0.1VW 0vw    #fff,
     5vw   0vh 0.1VW 0vw    #fff,
    49vw  13vh 0vw 0vw    #fff,
    48vw  10vh 0vw 0.1VW #fff,
    19vw -28vh 0vw 0vw    #fff,
     4vw   7vh 0vw 0vw    #fff,
    21vw  21vh 0.1VW 0.1VW #fff,
   -15vw -15vh 0vw 0.1VW #fff,
    -6vw -42vh 0.1VW 0vw    #fff,
   -15vw  48vh 0.1VW 0.1VW #fff,
   -23vw  25vh 0.1VW 0.1VW #fff,
   -48vw  25vh 0vw 0.1VW #fff,
   -31vw -19vh 0vw 0.1VW #fff,
     4vw  37vh 0.1VW 0.1VW #fff,
    -43vw  28vh 0vw 0vw    #fff,
     3vw -25vh 0vw 0.1VW #fff,
   -39vw  14vh 0vw 0.1VW #fff,
   -40vw  31vh 0vw 0.1VW #fff,
    35vw -36vh 0.1VW 0.1VW #fff,
    16vw  49vh 0vw 0vw    #fff,
     6vw  39vh 0vw 0vw    #fff,
     3vw -35vh 0vw 0.1VW #fff,
   -44vw  -2vh 0.1VW 0vw    #fff,
    -6vw  21vh 0.1VW 0vw    #fff,
    48vw   9vh 0.1VW 0.1VW #fff,
   -43vw  30vh 0.1VW 0.1VW #fff,
    29vw -12vh 0.1VW 0.1VW #fff,
   -48vw  13vh 0.1VW 0vw    #fff,
   -42vw  32vh 0.1VW 0.1VW #fff,
    34vw  15vh 0.1VW 0.1VW #fff,
    29vw -37vh 0.1VW 0.1VW #fff,
    28vw   2vh 0vw 0vw    #fff;
  animation: zoom 20s alternate infinite;
  z-index: -10;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
 
    100%{
        transform: scale(1.5);
    }
}

 #custom-cursor {
      position: fixed;
      top: 0; left: 0;
      width: 1.5vw;
      height: 1.5vw;
      background:#CCED22;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      z-index: 10000;
    }


    .trail {
      position: fixed;
      width: 1vw;
      height: 1vw;
      background:#CCED22;
      border-radius: 50%;
      pointer-events: none;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      animation: fadeOut 0.6s forwards;
    }

    @keyframes fadeOut {
      to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
      }
    }


#logo{

    flex-wrap: wrap;
    max-width: 0vw; 
    position: relative;
    margin-top: 0vw;
    margin-left: 0vw;
 }
#logo .logo-img {
  width: 8vw;
  margin-left: 2vw;
  height: auto;
  display: block; 
}


       .nav-line {
     display: flex;
      align-items: center;
      position: relative;
      margin-top: -4vw;
      margin-left:65vw;
      padding: 1vw;
      background: #000; 
      color: #fff;
      font-family: "gilroy" , sans-serif;
      font-size:1.5vw;
    }


    .nav-line a {
      text-decoration: none;
      color: inherit;
    }


    .nav-line .us,
    .nav-line .merch,
    .nav-line .poster {
      margin-right: 2vw;
    }

    .nav-line .buy {
      margin-right:0vw;
    }

     .text1 {
      display: flex;
      margin-top: 2vw;
      gap: 0.5vw;               
      color: #fdfdfd;           
      font-family: "Postertoaster", sans-serif;
      font-size: 10.5vw;
      white-space: nowrap;      
    }
     .text1 .line1,
    .text1 .line2 {
      display: block;             
    }
    .text1 .line1 {
margin-left:2vw;
        }
            .text1 .line2 {
                margin-top: -2vw;
margin-left: 1vw;
        }
    .yellow    { color: #CCED22; }
     .purple { color: #C038F4; }


       .text2 {
      display: flex;
      position: relative;
      margin-top: -8.5vw;
      margin-left: 28vw;

      gap: 0.5vw;             
      color: #fdfdfd;         
      font-family: "gilroy", sans-serif;
      font-size: 2vw;
      white-space: nowrap;      
    }
        .text2 .line2-1,
    .text2 .line2-2, 
    .text2 .line2-3 {
      display: block;           
    }
.text3 {
      display: flex;
      position: relative;
      margin-top: 5vw;
      margin-left:3vw;

      gap: 0.5vw;               
      color: #fdfdfd;          
      font-family: "gilroy", sans-serif;
      font-size: 2vw;
      margin-bottom: 1VW;
      white-space: nowrap;      
    }

   
.grey-box {
  position: relative;         
  background-color: #ECECEC;  
  padding: 2vw;
  width: 100vw;              
  margin: 0;                  
  box-sizing: border-box;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;   
}


.grid-container img.post-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;          
  border: 0.2vw solid #ECECEC; 
  border-radius: 0.5vw;    
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

.overlay img {
  box-shadow: 0 0 1vw rgba(0,0,0,0.5);
  border-radius: 0.5vw;
  object-fit: contain;  
}
.text4 {
      display: flex;
      position: relative;
      margin-bottom: 1VW;
      margin-top: 7vw;
      margin-left:3vw;

      gap: 0.5vw;             
      color: #fdfdfd;         
      font-family: "gilroy", sans-serif;
      font-size: 2vw;
      white-space: nowrap;     
    }

    



   .nav-line2 {
     display: flex;
      align-items: center;
      position: relative;
      margin-top: 10vw;
      margin-left: 2vw;
      padding: 1vw;
      background: #000; 
      color: #fff;
      font-family: "gilroy" , sans-serif;
      font-size:1.5vw;
    }

   
    .nav-line2 a {
      text-decoration: none;
      color: inherit;
    }

   
    .nav-line2 .us2,
    .nav-line2 .merch2,
    .nav-line2 .poster2 {
      margin-right: 2vw;
    }

  
    .nav-line2 .buy2 {
      margin-right: 21vw;
    }

    .nav-line2 .locationimage {
      width: 2vw;
      height: 2vw;
      object-fit: contain;
      margin-right: 1vw; 
    }

   
    .nav-line2 .footer {
      white-space: nowrap;
    }

    

  
  .site-footer {
  position: relative;
  width: 200vw;
  margin-left: -50VW;
  margin-top: 1vw;
}


.site-footer hr {
  border: none;
  height: 0.05vw;
  background: #fff; 
  margin: 2.5vw;
}


.site-footer .copyright {
  text-align: center;
  color: #fff;
  font-size: 0.9vw;      
  margin-top: 0.5vw;
  font-family: Arial, sans-serif; 
}